/*
***** author:wangrao
**** 报纸排版  ****
**** 2017.2.27 ****
*/
@charset"utf-8";
body{
	padding: 0;
	margin:0;
}
h1,h2,h3,h4,h5{
	padding: 0;
	margin:0;
}
.clearfix{
	overflow: auto;
	_zoom:1;
}
.clearfix:after{
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.main{
	width: 892px;
	height: 1386px;
	margin: 0 auto;
	padding:0 44px 0 44px;
}
/*头部*/
.header{
	width: 892px;
	height: 61px;
	border-bottom: 2px solid #938E8C;
	font-family: "黑体";

}
.header h1.logo{
	width: 110px;
	height: 61px;
	color: #fff;
	background: #D55D5C;
	text-align: center;
	float: left;
}
.header p{
	margin:0;
	height: 19px;
	padding-top:42px; 
}
.header p,.footer p{
	float: right;
	font-size: 12px;
	color: #d45d5c;
}
.header h1 small{
	display: block;
	font-weight: normal;
	font-size: 12px;
}
/*banner*/
.banner{
	background: #fff;
	width: 892px;
	height: 301px;
	padding:34px 0 0px 0;
}
.banner .banner_img{
	width: 641px;
	height: 301px;
	background: url(images/banner.jpg) no-repeat left top;
	float: left;
	position: relative;

}
.banner_imgl,.banner_imgr{
	width: 191px;
	height: 301px;
	opacity: 0.4;
	filter: alpha(opacity=40);
	position: absolute;
}
.banner_imgl{
	background:#006633; 
	left: 0;
	top: 0;
}
.banner_imgr{
	background:#FF4D4D; 
	right: 0;
	top: 0;
}
.banner .banner_info{
	width: 203px;
	height: 299px;
	float: right;
	border-top:2px solid #cc8091;
	font-family: "Microsoft Yahei";
}
.banner .banner_info h3{
	padding:0;
	margin:0;
	line-height: 40px;
	font-size: 24px;
	color:#000;
}
.info-header{
	height: 91px;
}
.info-header p.info-con{
	margin:0;
	font-size: 12px;
	line-height: 10px;
	color: #676767;
	font-family: "楷体";

}
.banner .banner_info p.info-middle{
	margin:0;
	padding: 0;
	height: 116px;
	padding-top: 23px;
	font-size: 116px;
	color: #75b86b;
	font-style: italic;
	margin-left: -15px;
}
.banner .banner_info div.info-footer{
	color:#cc8091;
	height: 68px;
	overflow: hidden;
}
.banner .banner_info div.info-footer .info-footerl{
	width: 84px;
	line-height: 55px;
	font-size: 55px;
	padding-top: 17px;
	float: left;
}
.banner .banner_info div.info-footer .info-footerr{
	font-size:21px;
	font-style: normal;
	float: left;
	width: 113px;
	padding-top: 6px;
	padding-left: 0px;
}
div.info-footer div.info-footerr small{
	font-size: 12px;
	line-height: 12px;
	display: block;

}
/*介绍*/
.introduce{
	width: 641px;
	height: 168px;
	margin-top: 40px;
}
.introduce p{
	height: 128px;
	font-size: 12px;
	line-height: 16px;
	text-overflow: ellipsis;/*超出文本省略号显示*/
	overflow: hidden;/*溢出隐藏，超出文本省略号显示标配*/
	display: -webkit-box;/*将对象作为弹性伸缩盒子模型显示*/
	-webkit-box-orient: vertical;/*从上到下垂直排列子元素*/
	-webkit-line-clamp:8;/*不是css的规范属性，需要配合以上两个属性，表示显示行数*/
}
.introduce h5{
	padding:0;
	margin:0;
	font-size: 16px;
	line-height: 30px;
	height: 30px;
}
.introduce_what,.introduce_when{
	margin-right: 27px;
	height: 168px;
}
/*what信息*/
.introduce_what{
	width: 228px;
	float: left;
}
.introduce_what h5 a{
	color: #418c59;
}
.introduce_what p{
	color:#767777;
	font-family: "宋体";
}
/*when信息*/
.introduce_when{
	width: 204px;
	float: left;
}
.introduce_when h5 a{
	color:#d2994f;
}
.introduce_when p{
	color:#231815;
	font-family: "Microsoft Yahei";
	opacity: 0.7;
	filter: alpha(opacity=70);
}
/*how信息*/
.introduce_how{
	width: 155px;
	height: 168px;
	float: left;
}
.introduce_how h5 a{
	color:#cc7680;
}
.introduce .introduce_how p.text{
	height: 80px;
	line-height: 25px;
	font-family: "Microsoft Yahei"; 
	margin-bottom: 0px;
}
.introduce_how p.percent{
	padding:0;
	margin:0;
	width: 100px;
	font-family: "Microsoft Yahei";
}
.introduce_how p.percent i{
	color:#cd4a48;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

/*焦点*/
.focus{
	height:607px;
	margin-top: 74px; 
}

.focus .focus_left{
	width: 415px;
	height: 607px;
	float: left;
	margin-right: 19px;
}
.focus_left .focus_header{
	height: 152px;
	font-family: "黑体";
	border-bottom: 2px solid #11456b;
}
.focus_left .focus_header_i{
	width: 355px;
	height: 89px;

}
.focus_left .focus_header_i h2{
	font-size: 72px;
	color: #f5e327;
	font-style: italic;
	line-height: 44px;
	margin-top: 3px;
}
.focus_left .focus_header_i span{
	font-size: 42px;
	color: #11456b;
	font-style: normal;
	padding-left: 19px;
	line-height: 16px;
}
.focus_header p{
	font-size: 33px;
	line-height: 62px;
	color: #11456b;
	font-weight: bold;
	margin:0;
}
.focus_left_txt{
	height: 410px;
	padding:20px 0px;
	overflow: hidden;
}
.focus_left_txt p{
	margin:0;
}
.focus_left_txt .text{
	height: 396px;
	margin:0;
}
.focus_left_txt .text .pic{
	float: right;
	width: 193px;
	height: 300px;
}
.focus_left_txt .text img{
	display: block;
	margin-left: 20px;
}
.focus_left_txt p{
	font-size: 12px;
	line-height: 16px;
	color: #767777;
	font-family: "宋体";
}
.focus_left_txt p em{
	font-style: normal;
	font-size: 70px;
	line-height: 72px;
	color: #f5e327;
	float: left;
	font-family:"Microsoft Yahei";
}
.focus_left_txt .second-p,.focus_left_txt .endp{
	margin:0;
	text-indent: 2em;

}
/*焦点图右边*/
.focus .focus_right{
	width: 458px;
	height: 607px;
	float: right;
}
.focus_img{
	width: 458px;
	height: 275px;
	background: url(images/mao.jpg) no-repeat left top;
	position: relative;
}
.focus_title{
	width: 458px;
	height: 61px;
	background:rgba(108,106,117,0.6);
	font-family: "Microsoft Yahei";
	position: absolute;
	left: 0px;
	bottom: 0;
}
.focus_title h2{
	margin-left: 61px;
	font-size: 26px;
	height: 44px;
	line-height: 44px;
	margin-top: 8px;
	border-left: 3px solid #72b16a;
	text-indent: 12px;
	color: #fff;
	font-weight: normal;
}
.focus_title h2 i{
	font-size: 12px;
	color: #72b16a;
	letter-spacing: 140%;
}
.focus_list{
	width: 458px;
	height: 318px;
	margin-top: 14px;
	background: #EEEED6;
	position: relative;
}
.focus_list ul{
	list-style-type: none;
	padding: 0;
	width: 409px;
	height: 120px;
	margin-left: 30px;
	font-family: "宋体";
	padding-top: 10px;
}
.focus_list ul li{
	padding-top: 20px;	
}
.focus_list ul li:before{
	display: inline-block;
	height: 0;
	content: "";
	border: 5px solid #0D4568;
	border-top: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}
.focus_list ul li a{
	padding-left: 4px;
	color:#5a5b5b;
	text-decoration: none;
	font-size: 16px;
	text-align: left;
}
.focus_list ul li a em{
	font-size: 12px;
	line-height: 22px;
	float: right;
}
.focus_list .sm_section{
	width: 260px;
	height: 160px;
	background: #D55D5C;
	position: absolute;
	left: 0;
	bottom: 0;
}
.section_info{
	width: 238px;
	height:86px;
	margin:41px 12px 35px 12px;
	color: #fff;
}
.section_info_l{
	width: 66px;
	height: 86px;
	border-right: 2px solid #fff;
	font-size: 110px;
	font-family: "Microsoft Yahei";
	line-height: 86px;

	float: left;
}
.section_info_l span{
		text-align: center;
}
.section_info_text{
	width: 166px;
	padding: 8px 0;
	height: 70px;
	float: right;
}
.section_info_text h2{
	font-size:21px;
	font-style: italic;
	font-family: "黑体";
	font-weight: normal;
	line-height: 24px;
	
}
.section_info_text p{
	padding:0;
	margin:0;
	font-size: 12px;
	padding-left: 2px;
}

blockquote{
	color: #d45b5c;
	padding:0;
	margin:0;
	width: 164px;
	height: 116px;
	font-size: 14px;
	position: absolute;
	right: 20px;
	bottom:40px;
	font-family: "黑体";
}
/*引号*/
blockquote:after{
	content: '“';
	color: #d45b5c;
	position: absolute;
	left: -40px;
	top: 18px;
	font-size: 72px;
	line-height: 26px;
}

blockquote:before{
	content: '”';
	color: #d45b5c;
	position: absolute;
	right: -35px;
	bottom:-25px;
	font-size: 72px;
	line-height: 26px;
}
blockquote p{
	margin:0;
	padding-top: 8px;
	text-indent: 3em;
	font-style: italic;
	color: #5a5b5b;
}
/*底部*/
.footer{
	border-top:1px solid #938e8c;
	height: 60px;
	margin-top: 39px;
}
.footer p{
	padding: 0;
	margin:0;
}